.main-menu {
}

.main-menu input {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.main-menu button {
  margin-top: 50px;
  width: 100%;
  padding: 10px 0;
  max-width: 400px;
}

.question-display h3 {
  font-weight: normal;
  font-size: 24px;
  text-align: left;
}

.question-display span {
  color: #e74c3c;
  font-weight: bold;
}

.question-display input {
  margin-bottom: 20px;
}

.question-display h1 {
  margin-bottom: 50px;
}

.modal-btn {
  width: 100%;
  margin-top: 30px;
}

.submit-btn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px;
  padding: 15px 0;
  width: 100%;
  font-weight: bold;
}

.end-screen h1 {
  font-size: 140px;
}

.end-screen .title {
  font-size: 30px;
}
